.principal0{
    margin-top: 150px;
    background-color: #2a2a2a;
    border-top: 2px solid white;
    display: flex;
    justify-content: space-around;
    padding: 50px
}

.principal1{
    width: 800px;
    color: white;
}